body{
    background-color: blanchedalmond;
}
section {
    margin: 8% auto;
    max-width: 20%;
    color: black;
}
section > form {
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: rgb(241, 207, 165);
    border-radius: 10px;
}
section > form > div {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
}
input {
    padding: 10px 0px;
}
.e-mail > label, .password > label {
    color: rgb(68, 65, 65);
    font-size: 1.2rem;
}
.license {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}
input[type="checkbox"] {
    margin-right: 10px;
}
