body {
    background-color: blanchedalmond;
}
main {
    margin: 8% auto;
    max-width: 70%;
    display: flex;
    justify-content: space-around;

}
main > section {
    width: 30%;
    background-color: rgb(178, 187, 187);
    border-radius: 10px;
    background-color: rgb(241, 207, 165);
}
main > section > div {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 20% 0%;
}
main > section > div, main > section > div > a {
    color: rgb(68, 65, 65);
    font-size: 1.2rem;
    text-decoration: none;
}
