body{
    background-color: blanchedalmond;
    font-size: 1.2rem;
}
section {
    margin: 8% auto;
    width: 40%;
}
section > form {
    background-color: rgb(241, 207, 165);
}
form {
    background-color: rgb(241, 207, 165);
    border-radius: 10px;
}
form > div {
    display: flex;
    flex-direction: column;
    padding: 15px 10px;

}
.gender {
    display: flex;
    flex-direction: row;
}
.gen {
    margin-right: 20px;
}
input {
    padding: 10px 0px;
}
.submits {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
input[type="button"] {
    border: none;
    width: 40%;
    border-radius: 10px;
    font-size: 1.2rem;
}
input[value="Submit"] {
    background-color: rgb(44, 141, 44);
}
input[value="Submit"]:hover {
    background-color: rgb(20, 97, 20);
}
input[value="Submit"]:active {
    background-color: green;
}
input[value="Clear"] {
    background-color: rgb(218, 44, 44);
}
input[value="Clear"]:hover {
    background-color: rgb(165, 29, 29);
}
input[value="Clear"]:active {
    background-color: rgb(226, 9, 9);
}
